{{define "index"}}
    {{template "header"}}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('static/img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>AsaWeb Blog</h1>
                        <hr class="small">
                        <span class="subheading">Web-development with Go language</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Cnilontent -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {{range .Post}}
                <div class="post-preview">
                    <a href="post?id={{.Id}}">
                        <h2 class="post-title">
                            {{.Title}}
                        </h2>
                    </a>
                    <p class="post-meta">Posted by <a href="#">AsaWeb</a> on September 18, 2014</p>
                </div>
                <hr>
                {{end}}
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <hr>
    {{template "footer"}}
{{end}}