{{define "post"}}
    {{template "header"}}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('static/img/post-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{.Title}}</h1>
                        <span class="meta">Posted by <a href="#">AsaWeb</a> on August 24, 2014</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                   <p>{{.Full_text}}</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <a href="delete/post?id={{.Id}}" style="text-decoration: none; color: whitesmoke;"><button type="button" class="btn btn-danger">Delete</button></a>
                </div>
            </div>
        </div>
    </article>

    <hr>
    {{template "footer"}}
{{end}}
